#photo2{
    margin-top: 10px;
    margin-left: 7px;    
height: 75px;
width: 75px;
}
#bar{
height: 100px;
width: 1450px;
background-color: rgb(2, 21, 78);
color: rgb(255, 255, 255);
font-size: 40px;
}
#signup{
    font-size: 15px;
   background-color: #42b72a;
   width: 70px;
   text-align: center;
   padding: 4px;
   border-radius: 4px;
margin-left: 1350px;
}
#page{
    background-color: white;
     width: auto;
     height: auto;
     text-align: bold;
     margin-top: auto;
     padding: 10px;
     text-align: center;
     padding: 50px;
     margin-left: auto;
     }
     #text{
        height: 40px;
        width: 300px;
        border-radius: 4px;
        border:solid 1px #aaa 
     }
     #button{
        height: 40px;;
        width: 400px;
        border-radius: 4px;
        font-weight: bold;
        border: none;
        background-color: rgb(59,89,152);
        color:white;
        margin-left: auto;
     }
     #otp{
        height: 30px;
        width: 100px;
        border-radius: 4px;
        border:solid 1px #aaa  
     }